//      TITLES

.title{
  &--main {
    font-size: 3.5rem;
    text-align: center;
    color: $color-white;
    margin-bottom: 2rem;
    padding: 2rem;
  }

  &--progress {
    font-size: 1.8rem;
    color: $color-white;
    display: inline;
  }

  &--punch-card {
    font-size: 1.5rem;
    color: $color-gray--dark;
    text-align: center;
    margin-bottom: 2rem;
  }

  &--records {
    font-size: 1.5rem;
    color: $color-white;
    text-align: center;
  }

  &--questions {
    font-size: 2rem;
  }
}
