//      HEADER
#header {
  background-color: $color-primary--dark;

  .navigation {
    margin-bottom: 2rem;

    &-ul {
      background-color: $color-primary--dark;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

    &-li {
      padding: 1rem;
      font-size: 1.1rem;
      background-color: $color-primary--light;
      min-width: 33.33%;
      display: inline-block;
      border-radius: 20px 20px 0 0;
      border-right: 1px solid $color-primary--dark;

      &.current {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

//      CURRENT SESSION
#current-session {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  color: $color-white;
  text-align: center;
  background-color: #333; 
  min-height: 30rem;
  border: 1rem solid $color-gray--light;

  h2 {
    background-color: $color-primary--light;
    color: black;
    margin: 0 2rem;
    border-radius: 30px;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: .5rem;
  }

  &-elapsed-time {
    font-size: 5rem;
  }
}



//      PROGRESS BAR
#progress {
  text-align: center;
  font-size: 1.5rem;
  color: $color-white;
  margin-bottom: 2rem; 
}

//        PUNCH CARD
#punch-card {
  background-color: $color-gray--light; 
  padding: 2rem;

  .time-stamp-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

//      SESSION RECORDS
#session-records {
  padding: 2rem;

  // .record-list {
    
  // }
  
  .record {
    display: flex;
    justify-content: space-between;
    background-color: $color-gray--light;
    padding: 1rem;
    margin-bottom: .5rem; 

    &-info {
      display: inline;
    }
  }
}

//      CURRENT RECORD

#current-record {
  background-color: $color-gray--light;
  padding: 2rem;
  height: 100vh;
  text-align: center;
}